name: Build Windows x64

on:
  workflow_dispatch:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-go@v5
        with:
          go-version: "1.22"

      - name: Install MinGW (gcc)
        run: choco install mingw -y

      - name: Build EXEs
        shell: pwsh
        env:
          CGO_ENABLED: "1"
        run: |
          go mod tidy
          go build -o VencordInstaller.exe .
          go build -tags cli -o VencordInstallerCLI.exe .

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: vencord-installer-windows
          path: |
            VencordInstaller.exe
            VencordInstallerCLI.exe
