name: Release Windows EXE

on:
  push:
    tags:
      - "v*"

jobs:
  release-windows:
    runs-on: windows-latest
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-go@v5
        with:
          go-version: "1.22"

      - name: Install MinGW (gcc)
        run: choco install mingw -y

      - name: Build EXEs
        shell: pwsh
        env:
          CGO_ENABLED: "1"
        run: |
          go mod tidy
          go build -o VencordInstaller.exe .
          go build -tags cli -o VencordInstallerCLI.exe .

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            VencordInstaller.exe
            VencordInstallerCLI.exe
