name: Build DevBuild
on:
    push:
        branches:
            - main
        paths:
            - .github/workflows/build.yml
            - src/**
            - browser/**
            - scripts/build/**
            - package.json
            - pnpm-lock.yaml

# This gives the bot permission to upload/delete releases
permissions:
    contents: write

env:
    FORCE_COLOR: true

jobs:
    Build:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v4

            - uses: pnpm/action-setup@v3

            - name: Use Node.js 20
              uses: actions/setup-node@v4
              with:
                  node-version: 20
                  cache: "pnpm"

            - name: Install dependencies
              run: pnpm install --frozen-lockfile

            - name: Build web
              run: pnpm buildWebStandalone

            - name: Build
              run: pnpm build --standalone

            - name: Generate plugin list
              run: pnpm generatePluginJson dist/plugins.json dist/plugin-readmes.json

            - name: Clean up obsolete files
              run: |
                  rm -rf dist/*-unpacked dist/vendor Vencord.user.css vencordDesktopRenderer.css vencordDesktopRenderer.css.map

            - name: Get some values needed for the release
              id: release_values
              run: |
                  echo "release_tag=$(git rev-parse --short HEAD)" >> $GITHUB_ENV

            - name: Publish/Update DevBuild Release
              # Update this line if you change your username or repo name
              if: github.repository == 'djdoolky76/Vencord'
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                  RELEASE_TAG: ${{ env.release_tag }}
              run: |
                  # 1. Delete the old 'devbuild' release and tag (if it exists) so we don't get errors
                  gh release delete devbuild --cleanup-tag -y || true
                  
                  # 2. Create a fresh release named 'devbuild' with the new files
                  gh release create devbuild dist/* \
                    --title "DevBuild $RELEASE_TAG" \
                    --notes "Automated build from commit $RELEASE_TAG" \
                    --prerelease \
                    --target $GITHUB_SHA
